[submodule "lib/picojson"]
	path = lib/picojson
	url = https://github.com/kazuho/picojson.git
	ignore = all
[submodule "gdext/godot-cpp"]
	path = gdext/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.4
	ignore = all
